@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Lobster&display=swap');

body {
    background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    background: linear-gradient(to right, #1D2671, #C33764); 
    color: #778899;
    font-family: 'Lobster', serif;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: auto 150px auto 150px;
    text-align: center;
    height: 900px;
    }

h1 {
    font-size: 5rem;
    color: #C33764;  
    color: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    color: linear-gradient(to right, #1D2671, #C33764); 
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 600px;
    border: 2px solid white;
    border-radius: 15px/45px;
    background-color: white;
    margin-top: 150px;
    width: auto;
}

.alert-spoiler {
    font-size: 0.7rem;
}

#input-name {
    text-align: center;
    color: #778899;
    border-radius: 10px;
    border-style: hidden;
    text-decoration: underline;
    outline:0; 
}

#form {
    height: 200px;
}

#form h2{
    font-size: 1.2rem;
    padding-bottom: 15px;
}

#form span{
    font-size: 0.8rem;
    }

#start-btn  {
    margin-bottom: 30px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 30px;
    line-height: 30px;
    color: #778899;
    width: 100px;
    font-size: 11px;
    font-weight: 100;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px 0 #ECCAFF;
    -moz-box-shadow: 0 1px 4px 0 #ECCAFF;
    box-shadow: 0 1px 4px 0 #ECCAFF;
    border: groove #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline:0; 
}

#start-btn:hover {
    border: solid #000000 0;
    background: #F0DBED;
    background-image: -webkit-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -moz-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -ms-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -o-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -webkit-gradient(to bottom, #F0DBED, #E8C0FF);
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
    outline:0; 
}

#start-btn:active {
    color: white;
    border: solid #000000 0;
    background: #F0DBED;
    background-image: -webkit-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -moz-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -ms-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -o-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -webkit-gradient(to bottom, #F0DBED, #e614a0);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
    width: 98px;
    outline:0; 
}

#alert-no-name {
    color: coral;
    font-weight: 200;
    font-size: 0.9rem;
    font-style: normal;
    font-family: monospace;
    padding: 1px
}












