
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Lobster&display=swap');
body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #778899;
    font-family: 'Lobster', serif;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 150px auto 150px;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
}

h1 a {
    text-decoration: none;
    color: white;
}

button {
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}

.title {
    display: flex;
    justify-content: flex-start
}

.title img {
    width: 50px;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px/45px;
    background-color: white;
    width: auto;
    height: 600px;
}

.container-box {
    display: flex;
    flex-direction: column;

}

.answers-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.answers-btn button {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 53px;
    line-height: 53px;
    color: #778899;
    width: 500px;
    font-size: 15px;
    font-weight: 100;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px 0 #ECCAFF;
    -moz-box-shadow: 0 1px 4px 0 #ECCAFF;
    box-shadow: 0 1px 4px 0 #ECCAFF;
    border: groove #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline:0; 
 }

 .answers-btn button:hover {	
    border: solid #000000 0;	
    background: #F0DBED;	
    background-image: -webkit-linear-gradient(top, #F0DBED, #E8C0FF);	
    background-image: -moz-linear-gradient(top, #F0DBED, #E8C0FF);	
    background-image: -ms-linear-gradient(top, #F0DBED, #E8C0FF);	
    background-image: -o-linear-gradient(top, #F0DBED, #E8C0FF);	
    background-image: -webkit-gradient(to bottom, #F0DBED, #E8C0FF);	
    -moz-border-radius: 40px;	
    border-radius: 40px;	
    text-decoration: none;	
    outline:0; 	
 }
 
 .answers-btn button:active {
    color: white;
    border: solid #000000 0;
    background: #F0DBED;
    background-image: -webkit-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -moz-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -ms-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -o-linear-gradient(top, #F0DBED, #e614a0);
    background-image: -webkit-gradient(to bottom, #F0DBED, #e614a0);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
    width: 520px;
    outline:0; 
 }

.next-btn {
    display: flex;
    justify-content: center;
}

.next-btn button {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 28px;
    line-height: 28px;
    color: #778899;
    width: 130px;
    font-size: 12px;
    font-weight: 100;
    padding: 0;
    background-color: #FFFFFF;
    border: groove #FFFFFF 0;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-underline-position: below;
    outline:0; 
 }
 
 .next-btn button:hover {
    color: white;
    border: solid #000000 0;
    background: #B7BBDD;
    background-image: -webkit-linear-gradient(top, #B7BBDD, #111111);
    background-image: -moz-linear-gradient(top, #B7BBDD, #111111);
    background-image: -ms-linear-gradient(top, #B7BBDD, #111111);
    background-image: -o-linear-gradient(top, #B7BBDD, #111111);
    background-image: -webkit-gradient(to bottom, #B7BBDD, #111111);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    text-decoration: none;
    outline:0; 
 }

 .next-btn button:active {
    color: white;
    border: solid #000000 0;
    background: #3e1574;
    background-image: -webkit-linear-gradient(top, #B7BBDD, #3e1574);
    background-image: -moz-linear-gradient(top, #B7BBDD, #3e1574);
    background-image: -ms-linear-gradient(top, #B7BBDD, #3e1574);
    background-image: -o-linear-gradient(top, #B7BBDD, #3e1574);
    background-image: -webkit-gradient(to bottom, #B7BBDD, #3e1574);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    text-decoration: none;
    outline:0; 
    width: 125px;
 }

.funko-cards img {
    box-shadow: 0px 3px 32px -14px rgba(255,255,255,1);
    border-radius: 18px 18px 18px 18px;
    border: 5px plain #ffffff;
    width: 300px;
}

.q-a-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    width: 600px;
    height: 300px;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}
 
.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

#score p {
    font-family: 'Bowlby One SC', cursive;
}

#score {
    font-size: 15px;
    display: flex;
    align-self: flex-end;
    text-align: right;
    padding: 0 35px 15px 0;
    width: 150px;
    height: 150px;
}

#question {
    height: 20px;
    font-size: 18px;
}

