
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Lobster&display=swap');
body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #778899;
    font-family: 'Lobster', serif;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 150px auto 150px;
}

.title {
    display: flex;
    justify-content: flex-start
}

.title img {
    width: 50px;
}

h1 {
    font-size: 5rem;
    color: white;
}

#score p {
    font-family: 'Bowlby One SC', cursive;
}

header {
    display: flex;
    flex-direction: column;
}
#score {
    font-size: 15px;
    display: flex;
    align-self: flex-end;
    border-radius: 78px 78px 78px 78px;
    -moz-border-radius: 78px 78px 78px 78px;
    -webkit-border-radius: 78px 78px 78px 78px;
    border: 0px solid #ffffff;
    padding: 0 35px 15px 0;
}


.main-section {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
    border: 2px solid white;
    border-radius: 15px/45px;
    background-color: white;
}

.container-box {
    display: flex;
    flex-direction: column;

}

.answers-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    margin: 10px;

}

.next-btn {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    color: white;
}

.funko-cards img {
    box-shadow: 0px 3px 32px -14px rgba(255,255,255,1);
    border-radius: 18px 18px 18px 18px;
    border: 5px plain #ffffff;
    width: 300px;
}

.q-a-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.answers-btn button {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 53px;
    line-height: 53px;
    color: #778899;
    width: 500px;
    font-size: 15px;
    font-weight: 100;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px 0 #ECCAFF;
    -moz-box-shadow: 0 1px 4px 0 #ECCAFF;
    box-shadow: 0 1px 4px 0 #ECCAFF;
    border: groove #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .answers-btn button:hover {
    border: solid #000000 0;
    background: #F0DBED;
    background-image: -webkit-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -moz-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -ms-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -o-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -webkit-gradient(to bottom, #F0DBED, #E8C0FF);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
 }
 
 

 .next-btn button {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 28px;
    line-height: 28px;
    color: #778899;
    width: 112px;
    font-size: 13px;
    font-weight: 100;
    padding: 0;
    background-color: #FFFFFF;
    border: groove #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-underline-position: below;
 }
 
 .next-btn button:hover {
    border: solid #000000 0;
    background: #F0DBED;
    background-image: -webkit-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -moz-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -ms-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -o-linear-gradient(top, #F0DBED, #E8C0FF);
    background-image: -webkit-gradient(to bottom, #F0DBED, #E8C0FF);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
     border-radius: 40px;
    text-decoration: none;
 }



